body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1158px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* #region Top Line */

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-nav .logo-link-last {
  color: #2e2f42;
}

.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.address-list {
  font-style: normal;
}

.address-list .link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list .link:hover,
.address-list .link:focus {
  color: #404bbf;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.link-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-li {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header .container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav .logo-link {
  padding: 24px 0;
  margin-right: 76px;
}

.link-list .link {
  padding: 24px 0;
  display: block;
}

.address-list {
  margin-left: auto;
}

.address-link .link {
  padding: 24px 0;
}

/* #endregion Top Line */

/* #region Hero */

.hero.section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto;
  text-align: center;
  display: block;
}

.hero .button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}

.hero .button:hover,
.hero .button:focus {
  background-color: #404bbf;
}

/* #endregion Hero */

/* #region Features */

.features-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.features-li {
  width: calc((100% - 3 * 24px) / 4);
}

.features-li .title {
  margin-bottom: 8px;
}
/* #endregion Features */

/* #region Our Team */

.team {
  background-color: #f4f4fd;
}

.team-list .team-li {
  background-color: #ffffff;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-li {
  width: calc((100% - 3 * 24px) / 4);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
}

.team-li .text-box {
  padding: 32px 0;
}

/* #endregion Our Team */

/* #region Our Portfolio */

.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 2 * 24px) / 3);
  display: flex;
  flex-direction: column;
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* #endregion Our Portfolio */

/* #region Footer */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer .logo-link-last {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.page-footer .logo-link {
  display: inline-block;
  margin-bottom: 16px;
}
/* #endregion Footer */
